{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="col-sm-6">
  <pre>
  {% if url %}
    url           = {{ url }}
    hash          = {{ hash }}
    generated url = <a href="{{ generated_url }}">{{ generated_url }}</a>
  {% endif %}
  </pre>
  </div>

  <div class="col-sm-6">
  <form action="/hash/" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  </div>

{% endblock %}
